@font-face {
    font-family: "maloney";
    src: url(fonts/maloney-font/Maloney-mLVqV.ttf) format('truetype');
}

body {
    background-color: grey;
}

.title {
    text-align: center;
    font-style: bold;
    color: white;
    padding-top: 250px;
    font-size: 100px;
}

.hero {
    width: 100%;
    height: 800px;
    background-image: url("images/brooklynbridge.jpg");
    background-size: cover;
    align-items: center;
    font-family: "maloney";
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: darkblue;
    height: 75px;
    width: 100%;    
}



.navbar > a{
    width: 100px;
    padding-left: 50px;
    color: white;
    font-weight: 900;
    padding-right: 10px;
}

.majors {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, 500px);
    grid-gap: 20px;
    padding: 20px;
    height:100%;
}

@media screen and (max-width: 768px) {
    .majors {
        grid-template-columns: auto;
    }
}

.major {
    border: 5px solid rebeccapurple;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.major > h1 {
    text-align: center;
    padding-top: 50px;
    color:azure;
    font-weight: 900;
    font-family:'Courier New', Courier, monospace;
}

.major > .img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#advHealth {
    background-image: url('images/health.jpg');
}

#aero {
    background-image: url('images/aero.jpg');
}

#aero > h1{
    color: yellow;
}

#arch {
    background-image: url('images/architec.jpg');
}

#arch > h1{
    color: black;
}

#bio {
    background-image: url('images/bio.jpg');
}

#chemEng {
    background-image: url('images/chem.jpg');
}

#chemEng > h1 {
    color: red;
}

#civEng {
    background-image: url('images/civil.jpg');
}

#civEng > h1{
    color: black;
}

#elecEng {
    background-image: url('images/elec.jpg')
}

#env {
    background-image: url('images/env.png');
}

#env > h1 {
    color: gold;
    color: violet;
}

#finance {
    background-image: url('images/fin.webp');
}

#industrial {
    background-image: url('images/industrial.webp');
}

#industrial > h1 {
    color: black;
}

#las {
    background-image: url('images/las.png');
}

#las > h1{
    color: yellow;
}

#math {
    background-image: url('images/math.jpg');
}

#mech {
    background-image: url('images/mech.webp');
}

#media {
    background-image: url('images/media.jpg');
}

#media > h1{
    color: yellow;
}

#pharmd {
    background-image: url('images/pharmd.jpg');
}

#pharmd > h1{
    color: red;
}

#physics {
    background-image: url('images/physics.jpg')
}

#software {
    background-image: url('images/software.jpg');
}

#ssr {
    background-image: url('images/ssr.jpg');
}

#ssr > h1{
    color: red;
}

#advHealth > h1 {
    color: midnightblue;
}

#mech > h1 {
    color: rgb(104, 89, 4);
    color: red
}