@font-face {
    font-family: "maloney";
    src: url(fonts/maloney-font/Maloney-mLVqV.ttf) format('truetype');
}

.title {
    text-align: center;
    font-style: bold;
    color: white;
    padding-top: 250px;
    font-size: 100px;
}

.hero {
    width: 100%;
    height: 800px;
    background-image: url("images/brooklynbridge.jpg");
    background-size: cover;
    align-items: center;
    font-family: "maloney";
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding-right: 75px;
    background-color: #014995;
}

.navbar > p{
    padding: 10px;
}